USE [master]
GO
/****** Object:  Database [FPBI_NDS]    Script Date: 12/23/2023 4:03:31 PM ******/
CREATE DATABASE [FPBI_NDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPBI_NDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FPBI_NDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FPBI_NDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FPBI_NDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPBI_NDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPBI_NDS]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 12/23/2023 4:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[BranchSK] [int] IDENTITY(1,1) NOT NULL,
	[BranchNK] [nvarchar](100) NOT NULL,
	[City] [nchar](100) NOT NULL,
	[CreateDay] [datetime] NULL,
	[UpdateDay] [datetime] NULL,
 CONSTRAINT [PK_CITY] PRIMARY KEY CLUSTERED 
(
	[BranchSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_TYPE]    Script Date: 12/23/2023 4:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_TYPE](
	[TypeSK] [int] IDENTITY(1,1) NOT NULL,
	[TypeNK] [int] NOT NULL,
	[SourceID] [int] NOT NULL,
	[Type] [nchar](100) NOT NULL,
	[CreateDay] [datetime] NOT NULL,
	[UpdateDay] [datetime] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_TYPE] PRIMARY KEY CLUSTERED 
(
	[TypeSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDER]    Script Date: 12/23/2023 4:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDER](
	[GenderSK] [int] IDENTITY(1,1) NOT NULL,
	[GenderNK] [nvarchar](100) NOT NULL,
	[SourceID] [int] NOT NULL,
	[Gender] [nchar](100) NOT NULL,
	[CreateDay] [datetime] NULL,
	[UpdateDay] [datetime] NULL,
 CONSTRAINT [PK_GENDER] PRIMARY KEY CLUSTERED 
(
	[GenderSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 12/23/2023 4:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[InvoiceSK] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNK] [int] NOT NULL,
	[BranchSK] [int] NOT NULL,
	[ProductSK] [int] NOT NULL,
	[GenderSK] [int] NOT NULL,
	[CustomerTypeSK] [int] NOT NULL,
	[PaymentMethodSK] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Tax] [float] NOT NULL,
	[Total] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Time] [time](7) NOT NULL,
	[COGS] [float] NOT NULL,
	[GrossMaginPercentage] [float] NOT NULL,
	[GrossIncome] [float] NOT NULL,
	[Rating] [float] NOT NULL,
	[CreateDay] [datetime] NOT NULL,
	[UpdateDay] [datetime] NOT NULL,
 CONSTRAINT [PK_INVOICE] PRIMARY KEY CLUSTERED 
(
	[InvoiceSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 12/23/2023 4:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[MethodSK] [int] IDENTITY(1,1) NOT NULL,
	[MethodNK] [int] NOT NULL,
	[SourceID] [int] NOT NULL,
	[Method] [nchar](100) NOT NULL,
	[CreateDay] [datetime] NOT NULL,
	[UpdateDay] [datetime] NOT NULL,
 CONSTRAINT [PK_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[MethodSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/23/2023 4:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ProductSK] [int] IDENTITY(1,1) NOT NULL,
	[ProductNK] [nchar](100) NOT NULL,
	[ProductLineSK] [int] NOT NULL,
	[SourceID] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[CreateDay] [datetime] NULL,
	[UpdateDay] [datetime] NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ProductSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_LINE]    Script Date: 12/23/2023 4:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_LINE](
	[ProductLineSK] [int] IDENTITY(1,1) NOT NULL,
	[ProductLineNK] [nchar](100) NOT NULL,
	[ProductLine] [nchar](100) NOT NULL,
	[CreateDay] [datetime] NULL,
	[UpdateDay] [datetime] NULL,
 CONSTRAINT [PK_PRODUCT_LINE] PRIMARY KEY CLUSTERED 
(
	[ProductLineSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_CITY] FOREIGN KEY([BranchSK])
REFERENCES [dbo].[CITY] ([BranchSK])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_CITY]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_CUSTOMER_TYPE] FOREIGN KEY([CustomerTypeSK])
REFERENCES [dbo].[CUSTOMER_TYPE] ([TypeSK])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_CUSTOMER_TYPE]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_GENDER] FOREIGN KEY([GenderSK])
REFERENCES [dbo].[GENDER] ([GenderSK])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_GENDER]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_PAYMENT] FOREIGN KEY([PaymentMethodSK])
REFERENCES [dbo].[PAYMENT] ([MethodSK])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_PAYMENT]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_PRODUCT] FOREIGN KEY([ProductSK])
REFERENCES [dbo].[PRODUCT] ([ProductSK])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_PRODUCT_LINE] FOREIGN KEY([ProductLineSK])
REFERENCES [dbo].[PRODUCT_LINE] ([ProductLineSK])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_PRODUCT_LINE]
GO
-- Trigger for PRODUCT table
CREATE TRIGGER UPDATE_PRODUCT_NDS ON dbo.PRODUCT AFTER UPDATE
AS 
BEGIN
    UPDATE dbo.PRODUCT
    SET UpdateDay = GETDATE()
    WHERE ProductSK IN (SELECT DISTINCT ProductSK FROM inserted);
END;
GO

CREATE TRIGGER INSERT_PRODUCT_NDS ON dbo.PRODUCT AFTER INSERT
AS
BEGIN
    UPDATE dbo.PRODUCT
    SET CreateDay = GETDATE(), UpdateDay = GETDATE()
    WHERE ProductSK IN (SELECT DISTINCT ProductSK FROM inserted);
END;
GO

-- Trigger for PRODUCT_LINE table
CREATE TRIGGER UPDATE_PRODUCT_LINE_NDS ON dbo.PRODUCT_LINE AFTER UPDATE
AS 
BEGIN
    UPDATE dbo.PRODUCT_LINE
    SET UpdateDay = GETDATE()
    WHERE ProductLineSK IN (SELECT DISTINCT ProductLineSK FROM inserted);
END;
GO

CREATE TRIGGER INSERT_PRODUCT_LINE_NDS ON dbo.PRODUCT_LINE AFTER INSERT
AS
BEGIN
    UPDATE dbo.PRODUCT_LINE
    SET CreateDay = GETDATE(), UpdateDay = GETDATE()
    WHERE ProductLineSK IN (SELECT DISTINCT ProductLineSK FROM inserted);
END;
GO

-- Trigger for CITY table
CREATE TRIGGER UPDATE_CITY_NDS ON dbo.CITY AFTER UPDATE
AS 
BEGIN
    UPDATE dbo.CITY
    SET UpdateDay = GETDATE()
    WHERE BranchSK IN (SELECT DISTINCT BranchSK FROM inserted);
END;
GO

CREATE TRIGGER INSERT_CITY_NDS ON dbo.CITY AFTER INSERT
AS
BEGIN
    UPDATE dbo.CITY
    SET CreateDay = GETDATE(), UpdateDay = GETDATE()
    WHERE BranchSK IN (SELECT DISTINCT BranchSK FROM inserted);
END;
GO

-- Trigger for GENDER table
CREATE TRIGGER UPDATE_GENDER_NDS ON dbo.GENDER AFTER UPDATE
AS 
BEGIN
    UPDATE dbo.GENDER
    SET UpdateDay = GETDATE()
    WHERE GenderSK IN (SELECT DISTINCT GenderSK FROM inserted);
END;
GO

CREATE TRIGGER INSERT_GENDER_NDS ON dbo.GENDER AFTER INSERT
AS
BEGIN
    UPDATE dbo.GENDER
    SET CreateDay = GETDATE(), UpdateDay = GETDATE()
    WHERE GenderSK IN (SELECT DISTINCT GenderSK FROM inserted);
END;
GO

-- Trigger for CUSTOMER_TYPE table
CREATE TRIGGER UPDATE_CUSTOMER_TYPE_NDS ON dbo.CUSTOMER_TYPE AFTER UPDATE
AS 
BEGIN
    UPDATE dbo.CUSTOMER_TYPE
    SET UpdateDay = GETDATE()
    WHERE TypeSK IN (SELECT DISTINCT TypeSK FROM inserted);
END;
GO

CREATE TRIGGER INSERT_CUSTOMER_TYPE_NDS ON dbo.CUSTOMER_TYPE AFTER INSERT
AS
BEGIN
    UPDATE dbo.CUSTOMER_TYPE
    SET CreateDay = GETDATE(), UpdateDay = GETDATE()
    WHERE TypeSK IN (SELECT DISTINCT TypeSK FROM inserted);
END;
GO

-- Trigger for PAYMENT table
CREATE TRIGGER UPDATE_PAYMENT_NDS ON dbo.PAYMENT AFTER UPDATE
AS 
BEGIN
    UPDATE dbo.PAYMENT
    SET UpdateDay = GETDATE()
    WHERE MethodSK IN (SELECT DISTINCT MethodSK FROM inserted);
END;
GO

CREATE TRIGGER INSERT_PAYMENT_NDS ON dbo.PAYMENT AFTER INSERT
AS
BEGIN
    UPDATE dbo.PAYMENT
    SET CreateDay = GETDATE(), UpdateDay = GETDATE()
    WHERE MethodSK IN (SELECT DISTINCT MethodSK FROM inserted);
END;
GO

-- Trigger for INVOICE table
CREATE TRIGGER UPDATE_INVOICE_NDS ON dbo.INVOICE AFTER UPDATE
AS 
BEGIN
    UPDATE dbo.INVOICE
    SET UpdateDay = GETDATE()
    WHERE InvoiceSK IN (SELECT DISTINCT InvoiceSK FROM inserted);
END;
GO

CREATE TRIGGER INSERT_INVOICE_NDS ON dbo.INVOICE AFTER INSERT
AS
BEGIN
    UPDATE dbo.INVOICE
    SET CreateDay = GETDATE(), UpdateDay = GETDATE()
    WHERE InvoiceSK IN (SELECT DISTINCT InvoiceSK FROM inserted);
END;
GO


USE [master]
GO


