USE [master]
GO
/****** Object:  Database [FPBI_Stage]    Script Date: 1/1/2024 5:51:35 PM ******/
CREATE DATABASE [FPBI_Stage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPBI_Stage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FPBI_Stage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FPBI_Stage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FPBI_Stage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPBI_Stage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPBI_Stage]
GO
/****** Object:  Table [dbo].[CITY_STAGE]    Script Date: 1/1/2024 5:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY_STAGE](
	[Branch] [nvarchar](10) NULL,
	[City] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_STAGE]    Script Date: 1/1/2024 5:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_STAGE](
	[ProductID] [nvarchar](10) NULL,
	[Unit price] [float] NULL,
	[ProductLineID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTLINE_STAGE]    Script Date: 1/1/2024 5:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTLINE_STAGE](
	[Product line] [nvarchar](255) NULL,
	[ProductLineID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPERMARKET_SALE_STAGE]    Script Date: 1/1/2024 5:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPERMARKET_SALE_STAGE](
	[ProductID] [nvarchar](10) NULL,
	[Invoice ID] [nvarchar](50) NULL,
	[Branch] [nvarchar](10) NULL,
	[Customer_type] [nvarchar](255) NULL,
	[Gender] [nvarchar](100) NULL,
	[Quantity] [float] NULL,
	[Tax 5%] [float] NULL,
	[Total] [float] NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[Time] [time](7) NULL,
	[Payment] [nvarchar](100) NULL,
	[cogs] [float] NULL,
	[gross margin percentage] [float] NULL,
	[gross income] [float] NULL,
	[Rating] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
